<div class="resolve-box">
  <div md-dialog-title class="resolve-header">
    <div class="title">Resolve issue</div>
  </div>
  <div class="resolve-tip">"In order to submit your suggestion, you must fill this form"</div>
  <form [formGroup]="reportFormGroup" class="resolve-form" md-dialog-content>
    <md-input-container style="width: 450px;">
      <input mdInput placeholder="Title" formControlName="title">
    </md-input-container>
    <md-input-container  class="resolve-textarea">
      <textarea mdInput   placeholder="Description" rows="5" maxlength="200" cols="27" #desc formControlName="description" ></textarea>
      <md-hint align="start" ><span style="color: #FF5722;">Type description of the location</span> </md-hint>
      <md-hint align="end">{{desc.value.length}} / 200</md-hint>
    </md-input-container>
  </form>
  <div class="resolve-image-upload-box" >
    <div class="no-photo-box"  *ngIf="imageUploadService.imagesObject['showImages'].length == 0">
      Choose images for upload
    </div>
    <div class="image" *ngFor="let img of imageUploadService.imagesObject['showImages']">
      <img [src]="img['url']"  class="icon" (click)="imageUploadService.onShowImage(pic.src)" #pic mdTooltip="Zoom image">
      <span (click)="imageUploadService.onRemoveImg(pic.src, img.name)" mdTooltip="Remove image">&#10006;</span>
    </div>
  </div>
</div>
<div  class="resolve-buttons" >
  <button md-fab="" color="accent" class="btn back" md-dialog-close="false" mdTooltip="back"><md-icon>arrow_back</md-icon></button>
  <div [mdTooltip]="postObject.tooltip()"  class="send-div">
    <button md-fab color="accent"   [ngClass]="postObject.class()"  (click)="onSubmit()"  [disabled]="!reportFormGroup.valid"><md-icon>send</md-icon></button>
  </div>
  <!-- md-dialog-close="true" -->
  <input type="file"  id="file1" class="inputfile" multiple (change)="imageUploadService.onAddImage($event.target.files)" [disabled]="imageObject.disabled()"/>
  <label for="file1" [mdTooltip]="imageObject.toolTip()" [ngClass]="imageObject.class()">
    <md-icon style="margin-left: 3px">add_a_photo</md-icon>
  </label>
</div>

<div class="image-zoom-box" *ngIf="imageUploadService.zoomUrl != null" #zoombox (click)="imageUploadService.onHideImage()">
  <div class="image-zoom" >
    <span class="image-zoom-x" (click)="imageUploadService.onHideImage()">&#10006;</span>
    <img [src]="imageUploadService.zoomUrl " alt="" class="image-zoom-image">
  </div>
</div>
